* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}