* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.one {
    background-color: orange;
    padding: 10px;
    border: 2px solid black;
    height: 90vh;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.two {
    background-color: blue;
    color: white;
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.three {
    background-color: indianred;
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.four {
    background-color: green;
    color: white;
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.five {
    background-color: aqua;
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
}
