* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.two-one {
    width: 100%;
}

.two-one img {
    width: 100%;
}
.two-two {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
}

.two-two p {
    text-align: center;
    margin-top: 1rem;
}